body{
  margin: 0px;
}

/* header styles */
.Dplus_header{
  background-color: black;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.Dplus_header button{
  font-size: large;
  font-weight: 600;
  background-color: black;
  margin-right: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 8px;
  color:#808080;
  border: solid;
  text-align: center;
}

.logo{
  height: 80px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* footer styles */

.Footer{
  background-color: black;
  font-size: 15px;
  padding-left: 15px;
  font-family: sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid #808080;
}

.footer-top{
  color:#808080;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer-top .img1{
  width: 30px;
}

.footer-top .img2{
  width:32px;
}

.footer-bottom{
  color: #808080;
  font-size: 12px;
  padding-left: 10px;
}

/* Landing Page styles */

.landing-page{
  display:flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
  background-image:url('/public/login-background.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center
}

.card{
  width:600px;
  text-align: center;
}

.disney_logo_landing{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.disney_logo_landing img{
  width: 600px;
}

.explore button{
  font-size: 30px;
  background-color: rgb(64, 121, 243);
  width: 550px;
  height: 50px;
  border-radius: 7px;
}

.landing-page .text{
  padding-top: 15px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
}

.Images{
  padding-top: 15px;
}

.Images div img{
  width: 600px;
  height: 60px;
  border-radius: 5px;
}

/* Main Page Styles */
.main-page{
  background-color: black; 
  padding-bottom: 60px;
  padding-left: 20px;
}

.icons img{
  width:35px;
  height:35px;
  padding-bottom:5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.icons #img4{
  width: 30px;
  height:30px;
}

.icons #img5{
  width:37px;
  height:37px;
}

.icons #img6{
  width:26px;
  height:27px;
}

.icons img:hover{
  width:40px;
  height:40px;
}

.icons #img4:hover{
  width: 35px;
  height:35px;
}

.icons #img5:hover{
  width:42px;
  height:42px;
}

.icons #img6:hover {
  width:31px;
  height:32px;
}

.Hotstar
{
  width:120px;
}

.mainpage-sideicons{
  
  height: auto;
  min-height: 100vh;
  padding-right: 25px;
  

}

.sidebar-name{
  display: none;
  color: gray;
  transition: 0.2s;
  color: gray;
  font-size: large;
  transition: opacity 0.6s;
  opacity: 0;
}

.sidebar-name :hover{
  color: white;
}


.sidebar-icon-anchor{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  transition: 0.5s;
  
}



.mainpage-sideicons :hover{
  position: relative;
}

.mainpage-sideicons :hover .sidebar-name{
  opacity: 1;
  color: white;
  display: block;
}

.mainpage-sideicons button{
  color: #ecb127;
  border: solid 2px #ecb127;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 3px;
}

.mainpage-heading{
  color:white;
  font-size: xx-large;
  padding-bottom: 25px;
  font-weight: 500;
  padding-bottom: 20px;
}

.cards{
  padding-bottom: 30px;
}

.movie-card{
 
  align-items: center;
  width:  250px;
  height: 150px;
  padding-left:5px;
  list-style: none;
}

.movie-card:hover{
  width: 260px;
}

.movie-card a img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.movie-card p{
  border-top: solid 1.5px;
  text-align: center;
  background-color: #5f77f5;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 800;
  font-style: italic;
}


/* Movie Page Styles */

.content{
  color: white;
  height: 100%;
  background-size: cover;
}

/* .content .movie-logo{
  padding-top: 90px;
} */

.line-1{
  padding-top: 60px;
}

.content button{
  background-color: rgba(0,0,0,0.3);
  border: solid white 2px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-right: 10px;
  border-radius: 4px;
  font-weight: 600px;
}

.content button.watchList{
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 50px;
  font-size: x-large;
  padding-top: 0px;
  padding-bottom: 2px;
}

.content button.people{
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 50px;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content img{
  height: 60vh;
  width:50%;
  padding-bottom: 0px;
}

.subTitle{
  font-size: small;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.description{
  width: 55%;
  padding-bottom: 10px;
  padding-left: 20px;
}

.playButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* search page styles */

.list-search{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.Search-page{
  background-color: rgb(17, 2, 110);
  height: 100%;
}

.search{
  margin-top: 20px;
  outline: none;
  color: white;
  background-color: gray;
  padding: 10px;
  width: 30%;
  height: 50px;
  border-radius: 10px;
}

.search-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon{
  margin-right:20px;
  margin-top: 20px;
  scale: 250%;
  align-self: center;
  color: white;
}

.search-cards{
  padding-top: 20px;
  padding-bottom: 20px;
  place-items: center;
}